* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff9c00;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 1rem;
}

.header h2 {
  color: white;
  margin: 0;
}

.main {
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  height: 200vh;
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.section {
  background-color: #f6f6f6;
  padding: 5rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.column {
  flex: 50%;
  padding: 0 15px;
}

.column img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.column-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}